@model Krok_Site.Models.LiabilityStatistics

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LiabilityStatistics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departments.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departments.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Groups.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groups.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsebles.Mounth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsebles.Mounth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
